.grid-cont{
height:600px;
width:600px;
background-color:black;
border:5px solid black;
color:white;
font-size:30px;
display:grid;
justify-content:center;
grid-template-rows:1fr 1fr 1fr;
grid-template-columns: repeat(3,1fr);
}
.grid-items{

background-color:red;
border:5px solid black;
}
.grid4{
grid-column:1/4;

}
.grid5{
height:100px;
width:100px;
align-self:center;
}