*{
    /* margin:0%; */
    /* padding:0%; */
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color:white
}
header{
    height:200px;
    width:100%;
    /* border: 2px solid white; */

}
img{
    height: 400px;
    width: 400px;
    margin-top:-100px;
    
}

li{
    padding: 10px;
    color: rgb(251, 255, 0);
    text-shadow: 3px 3px 3px rgb(205, 206, 193);
    letter-spacing: 2px;
}